<!--MAIN START-->
<div id="main">
    <!--INNER BANNER START-->
    <div id="inner-banner">
        <div class="container">
            <div class="inner-banner-heading">
            <h1>REINITIALISATION MOT DE PASSE</h1>
            <em>Modifier votre mot de passe lié à votre compte</em> </div>
        </div>
        <div class="breadcrumb-col"> <a ui-sref="home" class="btn-back"><i class="fa fa-home" aria-hidden="true"></i>Retour à l'accueil</a>
            <ol class="breadcrumb">
            <li><a ui-sref="home">Accueil</a></li>
            <li class="active">Paramètres</li>
            </ol>
        </div>
    </div>
    <!--INNER BANNER END-->

    <!--SERVICES BOARD SECTION START-->
    <section class="services-board secteurs-page">
        <div class="container">
            <h2>Modification de votre mot de passe</h2>
        </div>
    </section>
</div>