<div class="main-content">
  <div class="row no-margin">
    <div class="col m2">
      <ul self-collapse class="collapsible no-shadow" data-collapsible="accordion">
          <li>
              <div class="collapsible-header"><i class="material-icons">account_balance</i>Piliers</div>
              <div class="collapsible-body">
              <p ng-repeat="pilier in listPiliers">
                  <input type="checkbox" class="filled-in" id="pilier-{{pilier.id}}" checked="checked" />
                  <label for="pilier-{{pilier.id}}">{{pilier.nom}}</label>
              </p>
              <p>
                  <input type="checkbox" class="filled-in" id="pilier-all" checked="checked" />
                  <label for="pilier-all">Tous</label>
              </p>
              </div>
          </li>
      </ul>
      <ul self-collapse class="collapsible no-shadow" data-collapsible="accordion">
          <li>
              <div class="collapsible-header"><i class="material-icons">zoom_out_map</i>Axes</div>
              <div class="collapsible-body">
              <p ng-repeat="axe in listAxes">
                  <input type="checkbox" class="filled-in" id="axe-{{axe.id}}" checked="checked" />
                  <label for="axe-{{axe.id}}">{{axe.nom}}</label>
              </p>
              <p>
                  <input type="checkbox" class="filled-in" id="axe-all" checked="checked" />
                  <label for="axe-all">Tous</label>
              </p>
              </div>
          </li>
      </ul>
      <ul self-collapse class="collapsible no-shadow" data-collapsible="accordion">
          <li>
              <div class="collapsible-header"><i class="material-icons">donut_small</i>Secteurs</div>
              <div class="collapsible-body">
              <p ng-repeat="secteur in listSecteurs">
                  <input type="checkbox" class="filled-{{secteur.id}}" id="secteur-{{secteur.id}}" checked="checked" />
                  <label for="secteur-{{secteur.id}}">{{secteur.nom}}</label>
              </p>
            <p>
                <input type="checkbox" class="filled-in" id="secteur-all" checked="checked" />
                <label for="secteur-all">Tous</label>
              </p>
              </div>
          </li>
      </ul>
      <ul self-collapse class="collapsible no-shadow" data-collapsible="accordion">
          <li>
              <div class="collapsible-header"><i class="material-icons">folder_open</i>Projets</div>
              <div class="collapsible-body">
              <p>
                  <input type="checkbox" class="filled-in" id="secteur-all" checked="checked" />
                  <label for="secteur-all">Tous</label>
              </p>
              </div>
          </li>
      </ul>
    </div>
    <div class="col s12 m10 search-page">
      <div class="grey lighten-4">
          <div class="row no-margin">
            <div class="input-field col s10">
              <input id="input-search-page" type="search" ng-model="search.content" style="border: none;" placeholder="Tapez votre recherche ">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons close">close</i>
            </div>
            <div class="input-field col s2">
              <a href="index.php?page=search" class="btn btn-large teal pag"><span class="hide-on-small-only">Trouver</span><span class="hide-on-med-and-up">OK</span></a>
            </div>
          </div>
          <div class="row no-margin content-search">
              <h5>{{search.titleResults}}</h5>
              <div class="reultats results-piliers" ng-show="results.returnPiliers">
                  <div><i class="material-icons">arrow_forward</i> Piliers</div>
                  <ul class="list-content">
                      <li ng-repeat="pilier in listPiliersSearch">
                          <a ui-sref="pilier({id:pilier.id})">{{pilier.nom}}</a>
                      </li>
                  </ul>
              </div>
              <div class="results-axes" ng-show="results.returnAxes">
                  <h6><i class="material-icons">arrow_forward</i> Axes</h6>
                  <ul>
                      <li ng-repeat="axe in listAxesSearch"></li>
                  </ul>
              </div>
              <div class="results-secteurs" ng-show="results.returnSecteurs">
                  <h6><i class="material-icons">arrow_forward</i> Secteurs</h6>
                  <ul>
                      <li ng-repeat="secteur in listSecteursSearch"></li>
                  </ul>
              </div>
              <div class="results-projets" ng-show="results.returnProjets">
                  <h6><i class="material-icons">arrow_forward</i> Projets</h6>
                  <ul>
                      <li ng-repeat="projet in listProjetsSearch"></li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="col s12">
           <ul id="tabs-swipe-demo" class="tabs">
             <li class="tab col s2"><a href="#swipe-1"><i class="fa fa-info-circle" aria-hidden="true"></i> Informations</a></a></li>
             <li class="tab col s2"><a href="#swipe-2"><i class="fa fa-table" aria-hidden="true"></i> Tableau</a></li>
             <li class="tab col s2"><a href="#swipe-3"><i class="fa fa-globe" aria-hidden="true"></i> Carte</a></li>
             <li class="tab col s2"><a href="#swipe-4"><i class="fa fa-bar-chart" aria-hidden="true"></i> Analyse</a></li>
             <li class="tab col s2"><a href="#swipe-5"><i class="fa fa-download" aria-hidden="true"></i> Export</a></li>
             <li class="tab col s2"><a href="#swipe-6"><i class="fa fa-cogs" aria-hidden="true"></i> API</a></li>
          </ul>
          <div id="swipe-1" class="col s12 grey lighten-3">
            <p><strong>Données de l'aide au développement de Proparco - mise à jour juin 2017</strong></p>
            <p>Les données portent sur les opérations de Proparco, filiale de l'Agence Française de Développement dédiée au secteur privé, dans le respect de ses obligations légales en matière de secret bancaire. Les données couvrent l’ensemble des projets signés depuis le 1er janvier 2014 et pour lesquels un accord de diffusion du client a été obtenu.</p>
            <p>Proparco visera une actualisation trimestrielle de la publication de ces données, notamment pour prendre en compte les nouveaux projets financés par Proparco, sous réserve de l’autorisation des clients.</p>
          </div>
          <div id="swipe-2" class="col s12 grey lighten-3">
            <table>
              <thead>
               <tr>
                   <th>Nom projet</th>
                   <th>Description</th>
                   <th>Avancement</th>
                   <th>Secteur</th>
                   <th>Budget</th>
               </tr>
              </thead>

              <tbody>
               <tr>
                 <td>Afrimarket</td>
                 <td>Les données portent sur les opérations de Proparco...</td>
                 <td>Début</td>
                 <td>Industrie et services</td>
                 <td>$0.87</td>
               </tr>
               <tr>
                 <td>Ashmore Andean Fund</td>
                 <td>Les données portent sur les opérations de Proparco...</td>
                 <td>Début</td>
                 <td>Multi-secteurs</td>
                 <td>$3.76</td>
               </tr>
               <tr>
                 <td>Banco ABC Brasil</td>
                 <td>Les données portent sur les opérations de Proparco...</td>
                 <td>Début</td>
                 <td>Infrastructures</td>
                 <td>$7.00</td>
               </tr>
              </tbody>
            </table>
          </div>
          <div id="swipe-3" class="col s12 grey lighten-3">
            <leaflet lf-center="map.center"  paths="map.paths" markers="map.markers" defaults="map.defaults"  width="100%" height="480px"></leaflet>
          </div>
          <div id="swipe-4" class="col s12 grey lighten-3">Third tab content</div>
          <div id="swipe-5" class="col s12 grey lighten-3">Third tab content</div>
          <div id="swipe-6" class="col s12 grey lighten-3">Third tab content</div>
        </div>
      </div>
    </div>

  </div>

  </div>
