<!--MAIN START-->
<div id="main">
        <!--INNER BANNER START-->
        <div id="inner-banner">
            <div class="container">
                <div class="inner-banner-heading">
                <h1>Secteurs</h1>
                <em>Liste des secteurs du PAG</em> </div>
            </div>
            <div class="breadcrumb-col"> <a ui-sref="home" class="btn-back"><i class="fa fa-home" aria-hidden="true"></i>Retour à l'accueil</a>
                <ol class="breadcrumb">
                <li><a ui-sref="home">Accueil</a></li>
                <li class="active">Secteurs</li>
                </ol>
            </div>
        </div>
        <!--INNER BANNER END-->

        <!--SERVICES BOARD SECTION START-->
        <section class="services-board secteurs-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 element" ng-repeat="secteur in listSecteurs">
                        <div class="box board-color-{{secteur.id}}">
                            <div class="round-icon">
                                    <span ng-if="secteur.icone !=''">
                                        <img class="flaticon-svg" ng-src="/assets/images/svg/{{secteur.icone}}.svg" alt="{{secteur.nom}}">
                                    </span>
                                    <span ng-if="secteur.icone ==''">
                                        <img class="flaticon-svg" ng-src="/assets/images/svg/nature.svg" alt="{{secteur.nom}}">
                                    </span>
                            </div>
                            <h3><a ui-sref="secteurs">{{secteur.nom}}</a> </h3>
                        </div>
                        <div>
                            <div ng-show="!secteur.getreadMoreState">
                                <h4 align="center"><a href="" class="btn btn-link" ng-click="showProjects($index)"><i class="fa fa-plus"></i> Projets</a> </h4>
                            </div>
                            <div ng-show="secteur.getreadMoreState">
                                <ul class="listprojets">
                                    <li ng-repeat="p in secteur.projets">
                                        <a ui-sref="projet({nom: (p.nom | slugify), id: p.id})">{{p.id}} - {{p.nom | capitalizeFirst}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="secteur.getreadMoreState">
                                    <h4 align="center"><a href="" class="btn btn-link" ng-click="showProjects($index)"><i class="fa fa-minus"></i> Projets</a> </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--SERVICES BOARD SECTION END-->
</div>
<!--MAIN END-->