<div class="main-content">
        <div class="container">
          <h4 class="no-margin-bottom title">{{pilier.description}}<span class=" hide-on-small-only"></span> <a ui-sref="home" class="btn blue pag hide-on-small-only">Commenter</a></h4>
          <p class="flow-text subtitle grey-text text-lighten-1 no-margin-top">{{pilier.nom}}</p>
          <p class="no-margin grey-text breadcrumbs"><!--<span ncy-breadcrumb-text="{{ncyBreadcrumbLabel}}"></span>--></p>
          <div class="divider"></div>
          <div class="row no-margin">
						<div class="col s12 m8">
							<div class="row">
								<div class="col s12">
									<ul self-tabs class="tabs tabs-fixed-width">
										<li class="tab col s3"><a class="active" href="#about">À propos</a></li>
										<li class="tab col s3"><a href="#axes">Les axes</a></li>
										<li class="tab col s3"><a href="#gallerie">Gallerie</a></li>
										<li class="tab col s3"><a href="#commentaires">Commentaires</a></li>
									</ul>
								</div>
								<div class="col s12"><p class="no-margin">&nbsp;</p></div>
								<div id="about" class="col s12">
									{{pilier.aPropos}}
								</div>
								<div id="axes" class="col s12">
									<div class="row no-margin">
											<div ng-repeat="axe in pilier.axes">
													<div class='col s12 m6'>
														<div class='card small'>
															<div class='card-image'>
																<img ng-init="axe.img = getImage(axe)" ng-src="{{axe.img}}" alt="Image {{axe.nom}}">
																<span class='card-title'>{{axe.nom}}</span>
															</div>
															<div class='card-content'>
															<p>{{axe.description}}</p>
															</div>
															<div class='card-action'>
															<a ui-sref="axe({id:axe.id})" class='teal-text text-pag'>Voir</a>
															</div>
														</div>
													</div>
											</div>
									</div>
								</div>
								<div id="gallerie" class="col s12">
									<div class="slider" self-slider>
										<ul class="slides">
											<li ng-repeat="media in pilier.medias" ng-if="media.mediaType =='IMAGE'">
												<img ng-src="{{media.lien}}">
												<div class="caption center-align">
													<h5 class="light grey-text text-lighten-3"></h5>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div id="commentaires" class="col s12">
									<button class="btn" ng-show="!comment.show" ng-click="showComment()"><i class="material-icons">comment</i> Commenter </button>
									<div ng-show="comment.show">
										<div class="row">
											<div class="input-field col s4">
												<input type="text" id="pseudo" class="validate" ng-model="comment.pseudo">
												<label for="peudo">Pseudo</label>
											</div>
											<div class="col s2" align="center">
												OU
											</div>

											<div class="input-field col s6">
												<input type="text" id="email" class="validate" ng-model="comment.email">
												<label for="email">Adresse email</label>
											</div>
										</div>
										<div class="row">
											<textarea ng-model="comment.contenu" name="commentaire" id="contenu" cols="30" rows="10" placeholder="Votre commentaire" class="materialize-textarea"></textarea>
										</div>

										<div class="row">
											<form name="formFile">
												<div class="file-field input-field">
													<div class="btn">
														<span>Ajouter fichiers</span>
														<input type="file" ngf-select ng-model="comment.files" ngf-max-size="20MB" ngf-min-height="100" ngf-accept="'image/*,audio/*,video/*'" ngf-multiple="true">
													</div>
													<div class="file-path-wrapper">
														<input class="file-path validate" type="text" placeholder="Envoyer des fichiers">
													</div>
												</div>
											</form>
										</div>
										<div class="row">
											<button class="btn" ng-click="postComment()">Commenter</button>
										</div>
									</div>
									<ul>
										<li ng-repeat="commentLine in listComments">
											<p>
												<strong>{{commentLine.pseudo}}</strong> : {{commentLine.contenu}}
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>

            <div class="col hide-on-small-and-down m4">
                <ul self-collpase class="collapsible no-shadow" data-collapsible="accordion">
                    <li class="active">
                        <div class="collapsible-header amber pag white-text active">Autres piliers</div>
                        <div class="collapsible-body no-padding" style="display: block;">
                        <ul class="collapsible no-margin no-shadow no-border" data-collapsible="accordion">
                            <li ng-repeat="oth in listPiliers" ng-if="oth.id != pilier.id">
                                <a ui-sref="pilier({id:oth.id})" class="collapsible-header amber-text text-pag">{{oth.nom}}</a>
                            </li>
                        </ul>
                        </div>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large blue pag" href="index.php?page=comment">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>

