<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"> <img src="../../assets/images/logo_suivi_pag.png" style="width: 30%; margin-top:10px;"> </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#!"><i class="material-icons">comment</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Hello<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
        
