<div class="main dashboard">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col m6">
            <div class="card-panel">
                <div class="panel-heading">
                    Evolution du nombre de likes par projets
                </div>
                <like-chart></like-chart>
            </div>
        </div>
        <div class="col m6">
            <div class="card-panel">
                <div class="panel-heading">
                    Le nombre de commentaire par projets
                </div>
                <comment-chart></comment-chart>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col m6">
            <div class="card-panel">
                <div class="panel-heading">
                    Le nombre de débat par projets
                </div>
                <debat-par-post-chart></debat-par-post-chart>
            </div>
        </div>
    </div>
</div>
