<div class="container col l12">
    
    <ul
    self-collapse
    class="collapsible no-shadow "
    data-collapsible="accordion"
    id="">
    <li>
        <a ui-sref="admin.main" class="collapsible-header ">
            <i class="material-icons left" style="margin-right: 16px">home</i>
            Tableau de bord
        </a>
    </li>
    <li>
        <div class="">

            <a  ui-sref="admin.axes" class="collapsible-header teal-text text-pag left-align">
                <i class="material-icons">zoom_out_map</i>Les axes
            </a>
        </div>
    </li>
    <li>
        <div class="">
            <a ui-sref="admin.phases" class="collapsible-header teal-text text-pag left-align">
            <i class="material-icons">timeline</i>Les phases 
            </a>
        </div>
        
    </li>
    <li>
        <div class="">
            <a
                        ui-sref="admin.piliers"
                        class="collapsible-header teal-text text-pag left-align">
            <i class="material-icons">account_balance</i>Les piliers</a>
        </div>
    </li>
    <li>
        <div class="">
            <a
                        ui-sref="admin.projets"
                        class="collapsible-header teal-text text-pag left-align">
            <i class="material-icons">folder_open</i>Les projets</a>
        </div>
        
    </li>
    <li>
        <div class="">
            <a
                        ui-sref="admin.secteurs"
                        class="collapsible-header teal-text text-pag left-align">
            <i class="material-icons">donut_small</i>Les secteurs</a>
        </div>
    </li>
    <!--<li>
        <a href="#" class="">
            <i class="material-icons left" style="margin-right: 16px">forum</i>Chat
        </a>
    </li>-->
    <li>
        <a ui-sref="home" class="collapsible-header ">
            <i class="material-icons left" style="margin-right: 16px">exit_to_app</i>Déconnexion
        </a>
    </li>
</ul>
    <!-- Page Content goes here -->

</div>
