<ul
    self-collapse
    class="collapsible no-shadow"
    data-collapsible="accordion"
    id="">
    <li>
        <a ui-sref="admin.main" class="collapsible-header ">
            <i class="material-icons left" style="margin-right: 16px">home</i>
            DASHBOARD
        </a>
    </li>
    <li>
        <div class="collapsible-header ">
            <i class="material-icons">zoom_out_map</i>Les axes
        </div>
        <div class="collapsible-body no-padding-but-left">
            <ul
                class="collapsible no-margin no-shadow no-border"
                data-collapsible="accordion">
                <li>
                    <a
                        ui-sref="admin.axes"
                        class="collapsible-header teal-text text-pag left-align">
                        <i class="material-icons left">list</i>Tous les axes</a>
                </li>
                <li class="divider no-margin"></li>
                <li>
                    <a
                        ui-sref="admin.newaxe"
                        class="collapsible-header teal-text text-pag left-align">
                        <i class="material-icons left">add</i>
                        Nouvel axe</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="collapsible-header ">
            <i class="material-icons">account_balance</i>Les phases
        </div>
        <div class="collapsible-body no-padding-but-left">
            <ul
                class="collapsible no-margin no-shadow no-border"
                data-collapsible="accordion">
                <li>
                    <a
                        ui-sref="admin.phases"
                        class="collapsible-header teal-text text-pag left-align">
                        <i class="material-icons left">list</i>Toutes les phases</a>
                </li>
                <li class="divider no-margin"></li>
                <li>
                    <a
                        ui-sref="admin.newphase"
                        class="collapsible-header teal-text text-pag left-align">
                        <i class="material-icons left">add</i>
                        Nouvelle phase</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="collapsible-header ">
            <i class="material-icons">account_balance</i>Les piliers
        </div>
        <div class="collapsible-body no-padding-but-left">
            <ul
                class="collapsible no-margin no-shadow no-border"
                data-collapsible="accordion">
                <li>
                    <a
                        ui-sref="admin.piliers"
                        class="collapsible-header teal-text text-pag left-align">
                        <i class="material-icons left">list</i>Tous les piliers</a>
                </li>
                <li class="divider no-margin"></li>
                <li>
                    <a
                        ui-sref="admin.newpilier"
                        class="collapsible-header teal-text text-pag left-align">
                        <i class="material-icons left">add</i>
                        Nouveau pilier</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="collapsible-header ">
            <i class="material-icons">folder_open</i>Les projets
        </div>
        <div class="collapsible-body no-padding-but-left">
            <ul
                class="collapsible no-margin no-shadow no-border"
                data-collapsible="accordion">
                <li>
                    <a
                        ui-sref="admin.projets"
                        class="collapsible-header teal-text text-pag left-align">
                        <i class="material-icons left">list</i>Tous les projets</a>
                </li>
                <li class="divider no-margin"></li>
                <li>
                    <a
                        ui-sref="admin.newprojet"
                        class="collapsible-header teal-text text-pag left-align">
                        <i class="material-icons left">add</i>
                        Nouveau projet</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="collapsible-header ">
            <i class="material-icons">donut_small</i>Les secteurs
        </div>
        <div class="collapsible-body no-padding-but-left">
            <ul
                class="collapsible no-margin no-shadow no-border"
                data-collapsible="accordion">
                <li>
                    <a
                        ui-sref="admin.secteurs"
                        class="collapsible-header teal-text text-pag left-align">
                        <i class="material-icons left">list</i>Tous les secteurs</a>
                </li>
                <li class="divider no-margin"></li>
                <li>
                    <a
                        ui-sref="admin.newsecteur"
                        class="collapsible-header teal-text text-pag left-align">
                        <i class="material-icons left">add</i>
                        Nouveau secteur</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#" class="collapsible-header ">
            <i class="material-icons left" style="margin-right: 16px">forum</i>Chat
        </a>
    </li>
    <li>
        <a ui-sref="home" class="collapsible-header ">
            <i class="material-icons left" style="margin-right: 16px">exit_to_app</i>Déconnexion
        </a>
    </li>
</ul>
