<p>Forum</p>
<div class="forum-content">
  <div class="container">
    <h4>Nom de la discussion</h1>
    <div class="row">
      <div class="col s9">
        <nav>
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search" placeholder=""><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
        <div class="forum-list">
          <ul class="collection">
            <li class="collection-item avatar">
              <i class="material-icons circle">folder</i>
              <span class="title">Anonyme</span>
              <p>Collections allow you to group list objects together.
              </p>
              <a href="#!" class="secondary-content"><span>13 Nov 17 à 14H52min</span></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle">John</i>
              <span class="title">Title</span>
              <p>Collections allow you to group list objects together.
              </p>
              <a href="#!" class="secondary-content"><span>13 Nov 17 à 14H52min</span></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle green">insert_chart</i>
              <span class="title">Anonyme</span>
              <p>Collections allow you to group list objects together.
              </p>
              <a href="#!" class="secondary-content"><span>13 Nov 17 à 14H52min</span></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle red">play_arrow</i>
              <span class="title">John</span>
              <p>Collections allow you to group list objects together.
              </p>
              <a href="#!" class="secondary-content"><span>13 Nov 17 à 14H52min</span></a>
            </li>
          </ul>
      </div>
      <form class="">
        <div class="row">
          <div class="input-field col s12">
            <input id="comment" type="text" class="validate">
            <label for="comment" data-error="wrong" data-success="right">Entrez votre commentaire</label>
          </div>
          <a class="waves-effect waves-light btn">Envoyer</a>
        </div>
      </form>

    </div>

    <div class="col s3">
      <a class="waves-effect waves-light btn" id="add-new-subject">Ajouter sujet</a>
    </div>
  </div>
</div>
