<p>Forum</p>
<div class="forum-content">
  <div class="container">
    <h4>Toutes les discussions</h1>
    <div class="row">
      <div class="col s9">
        <div class="forum-list">
          <ul class="collapsible no-shadow" data-collapsible="accordion" id="">
            <li>
              <div class="collapsible-header "><i class="material-icons">list</i>Agriculture</div>
              <div class="collapsible-body no-padding-but-left">
                <ul class="collapsible no-margin no-shadow no-border" data-collapsible="accordion">
                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>First Forum</a>
                  </li>
                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>Second Forum</a>
                  </li>

                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>Second Forum</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header "><i class="material-icons">list</i>Design</div>
              <div class="collapsible-body no-padding-but-left">
                <ul class="collapsible no-margin no-shadow no-border" data-collapsible="accordion">
                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>First Forum</a>
                  </li>
                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>Second Forum</a>
                  </li>

                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>Second Forum</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header "><i class="material-icons">list</i>Marketing</div>
              <div class="collapsible-body no-padding-but-left">
                <ul class="collapsible no-margin no-shadow no-border" data-collapsible="accordion">
                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>First Forum</a>
                  </li>
                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>Second Forum</a>
                  </li>

                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>Second Forum</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header "><i class="material-icons">list</i>Environnement</div>
              <div class="collapsible-body no-padding-but-left">
                <ul class="collapsible no-margin no-shadow no-border" data-collapsible="accordion">
                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>First Forum</a>
                  </li>
                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>Second Forum</a>
                  </li>

                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>Second Forum</a>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <div class="collapsible-header "><i class="material-icons">list</i>Environnement</div>
              <div class="collapsible-body no-padding-but-left">
                <ul class="collapsible no-margin no-shadow no-border" data-collapsible="accordion">
                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>First Forum</a>
                  </li>
                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>Second Forum</a>
                  </li>

                  <li>
                    <a href="/discussion" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">forum</i>Second Forum</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
      </div>
    </div>

    <div class="col s3">
      <a class="waves-effect waves-light btn" id="add-new-subject">Ajouter sujet</a>
    </div>
  </div>
</div>
