<div class="main-content white">
  <div class="container">
    <h4 class="no-margin-bottom title">Nouveau projet -- <a href="#" class="btn teal pag">Terminer</a></h4>
    <p class="flow-text subtitle grey-text text-lighten-1 no-margin-top">Créer un nouveau projet</p>
    <p class="no-margin grey-text breadcrumbs">Accueil > Projets ></p>
    <div class="divider"></div>
    <!-- Content -->
    <div class="row no-margin">
      <div class="col s12">
        <div class="row">
          <div class="col s12"><p class="no-margin">&nbsp;</p></div>
          <form class="col s12">
            <div class="row">
              <div class="col s12">
                <h4 class="no-margin teal-text text-pag">Informations</h4>
                <b>Veuillez remplir ce formulaire</b>
              </div>
              <div class="input-field col s12 m6">
                <label class="custom-label">Pilier</label>
                <select self-select ng-model="pilier.nom" ng-options="axe.nom for axe in listPiliers"></select>
              </div>
              <div class="input-field col s12 m6">
                <label class="custom-label">Axe</label>
                <!-- Liste dynamique fonction du pilier choisi -->
                <select self-select ng-model="pilier.branch"
                                    ng-options="axe.nom for axe in pilier.name.axes">
                </select>
              </div>
              <div class="input-field col s12">
                <input id="name" type="text" class="validate">
                <label for="name"> Nom du secteur</label>
              </div>
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Description du secteur</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 center center-align">
                <a href="#" class="btn btn-large teal pag">Terminer</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Content -->
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large green pag" href="">
      <i class="large material-icons">check</i>
    </a>
  </div>
</div>
