<div class="main-content white">
  <div class="container">

    <h4 class="no-margin-bottom title">
      Liste des projets<span class=" hide-on-small-only">--</span>
      <a ui-sref="admin.newprojet" class="btn green pag hide-on-small-only">Nouveau projet</a></h4>
    <p class="flow-text subtitle grey-text text-lighten-1 no-margin-top">Consulter la liste de tous les projets du PAG</p>

    <table class="striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Titre</th>
          <th>Axes</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Budget</th>
          <th>État</th>
          <th class="center text-center">-</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat='projet in listProjets'>
          <td>{{$index + 1}}</td>
          <td>{{projet.nom}}</td>
          <td>2</td>
          <td>jj - mm - aaaa</td>
          <td>jj - mm - aaaa</td>
          <td>3,5 milliards</td>
          <td>Phase 3</td>
          <td class="center text-center">
            <a href="dashboard.php?page=edit&type=pilier-1" class=""><i class="material-icons">edit</i></a>
            <a href="#!" class=""><i class="material-icons">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
