
  <!--BANNER START-->
  <div id="banner">
    <div class="" id="home-banner">
      <div class="item">
        <img ng-src="/assets/images/header.jpg" alt="img">
        <div class="caption">
          <div class="container">
            <div class="holder">
              <h1 class="animated fadeInUp delay-2 headline">Suivre le PAG n'a jamais été aussi facile </h1>
              <p>Une platerforme simple permettant de suivre, commenter et apprécier le Programme d'Action du Gouvernement Béninois</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--BANNER END-->

  <!--MAIN START-->
  <div id="main">
    <!--SERVICES BOARD SECTION START-->
    <section class="services-board">
      <div class="container">
        <div class="heading-style-1">
          <h2 class="title-block">Les secteurs du <span>PAG</span></h2>
        </div>
        <em>Le Programme d'Action du Gouvernement 2016-2021 organisé par secteur.</em>
          <data-self-owl-carousel class="owl-carousel" data-options="{loop:true ,dots:false
          ,nav:true ,navText:'' ,smartSpeed:1000 ,padding:0 ,margin:30, autoplay:true,autoplayTimeout:1000,
          autoplayHoverPause:true,responsiveClass: true,
            responsive: { 0: {items: 1,},768: {items: 2,},992: {items: 2,},1199: {items: 4,}}}">
            <div self-owl-carousel-item="" ng-repeat="secteur in listSecteurs" class="item">
              <div class="box secteur {{secteur.icone}} board-color-{{secteur.id}}" ng-if="$index < listSecteurs.length">
                <div class="round-icon">
                  <span ng-if="secteur.icone !=''">
                    <img class="flaticon-svg" ng-src="/assets/images/svg/{{secteur.icone}}.svg" alt="{{secteur.nom}}">
                  </span>
                  <span ng-if="secteur.icone ==''">
                    <img class="flaticon-svg" ng-src="/assets/images/svg/nature.svg" alt="{{secteur.nom}}">
                  </span>
                </div>
                <h3><a ui-sref="secteurs">{{secteur.nom}}</a> </h3>
              </div>
            </div>
          </data-self-owl-carousel>
        </div>
    </section>
    <!--SERVICES BOARD SECTION END-->

     <!--FACTS FIGURES SECTION START-->
      <section class="facts-figures">
        <div class="container">
          <div class="holder">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="box"><a ui-sref="axes"><strong class="number">{{count_axes}}</strong> <span>Axes stratégiques</span></a></div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="box"><a ui-sref="projets"><strong class="number">{{count_projets}}</strong> <span>projets phares</span></a></div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="box border-none"><a ui-sref="forum"><strong class="number"><i class="fa fa-comment"></i></strong> <span>Commenter le PAG</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--FACTS FIGURES SECTION END-->

      <!--NEW SECTION START-->
    <section class="news-section">
      <div class="container">
        <div class="heading-style-1">
          <h2>Les projets <span>les plus vus</span></h2>
        </div>
        <em>Une sélection des quatre projets les plus vus</em> <a ui-sref="projets" class="btn-style-1">Tous les projets</a>
        <div class="row">
          <div class="col-md-3 col-sm-6" ng-repeat="projet in listFourProjets">
            <div class="box">
              <div class="frame"><a ui-sref="projet({nom: (projet.nom | slugify), id: projet.id})"><img ng-src="{{projet.lien_preview}}" alt="Image preview"></a></div>
              <div class="text-box">
                  <div class="tp-row">
                  <div class="inner">
                    <h4><a ui-sref="projet({nom: (projet.nom | slugify), id: projet.id})">{{projet.nom | limitTo:60}} <span ng-show="projet.nom.length > 60">...</span></a></h4>
                  </div>
                  <div class="btm-row">
                    <ul>
                      <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i>{{projet.id + 40}}</a></li>
                      <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>{{projet.id + 30}}</a></li>
                    </ul>
                    <a ui-sref="projet({nom: (projet.nom | slugify), id: projet.id})" class="btn-1 btn-color-1">+ Détails</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
      <!--NEW SECTION END-->

      <!-- MAP SECTION START -->
      <!-- <section class="map-section" id="map-home">
        <div class="container">
          <leaflet lf-center="map.center"  paths="map.paths" markers="map.markers" defaults="map.defaults"  width="100%" height="480px"></leaflet>
        </div>
      </section> -->
        <!-- MAP SECTION END -->

  </div>
  <!--MAIN END-->
