
  <!--BANNER START-->
  <div id="banner">
    <div class="owl-carousel" id="home-banner" self-owl-carousel>
      <div class="item"> <img src="/assets/images/banner-img-1.jpg" alt="img"> <span class="slide animated fadeInRight"><img src="/assets/images/banner-img-1-slider.png" alt="img"></span>
        <div class="caption">
          <div class="container">
            <div class="holder">
              <h1 class="animated fadeInUp delay-2">Une platerforme simple permettant de suivre et apprécier le PAG </h1>
              </div>
          </div>
        </div>
      </div>
      <div class="item"> <img src="/assets/images/banner-img-2.jpg" alt="img"> <span class="slide animated fadeInRight"><img src="/assets/images/banner-img-2-slider.png" alt="img"></span>
        <div class="caption">
          <div class="container">
            <div class="holder">
              <h1 class="animated fadeInUp delay-2">Suivre le PAG n'a jamais été aussi facile</h1>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--BANNER END-->

  <!--MAIN START-->
  <div id="main">
    <!--SERVICES BOARD SECTION START-->
    <section class="services-board">
        <div class="container">
          <div class="heading-style-1">
            <h2>Services And <span>Vision Board</span></h2>
          </div>
          <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit praesent quis libero neque.</em>
            <data-self-owl-carousel class="owl-carousel" data-options="{loop:true ,dots:false
            ,nav:true ,navText:'' ,smartSpeed:1000 ,padding:0 ,margin:30, responsiveClass: true,
             responsive: { 0: {items: 1,},768: {items: 2,},992: {items: 2,},1199: {items: 4,}}}">
              <div self-owl-carousel-item="" ng-repeat="secteur in listSecteurs" class="item">
                <div class="box board-color-{{secteur.id}}">
                  <div class="round-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                  <h3><a href="services.html">{{secteur.nom}}</a> </h3>
                </div>
              </div>
            </data-self-owl-carousel>
          </div>
        </div>
      </section>
      <!--SERVICES BOARD SECTION END--> 
  </div>
  <!--MAIN END-->
