
  <!--BANNER START-->
  <div id="banner">
    <div class="owl-carousel" id="home-banner">
      <div class="item"> <img src="/assets/images/banner-img-1.jpg" alt="img"> <span class="slide animated fadeInRight"><img src="/assets/images/banner-img-1-slider.png" alt="img"></span>
        <div class="caption">
          <div class="container">
            <div class="holder">
              <h1 class="animated fadeInUp delay-2">The <span>Democracy</span><br>
                is first part of
                Good <span>Governance</span></h1>
              <strong class="title animated fadeInDown">We are Following the Democracy for the
              Good Governance in our Country...</strong> <a href="about.html" class="btn-style-2 animated fadeInLeft">Learn More</a> </div>
          </div>
        </div>
      </div>
      <div class="item"> <img src="/assets/images/banner-img-2.jpg" alt="img"> <span class="slide animated fadeInRight"><img src="/assets/images/banner-img-2-slider.png" alt="img"></span>
        <div class="caption">
          <div class="container">
            <div class="holder">
              <h1 class="animated fadeInUp delay-2"><span>Support</span> us to
                Become <span>Strong</span> <span>Economic</span> Country</h1>
              <strong class="title animated fadeInDown">We are Following the Democracy for the
              Good Governance in our Country...</strong> <a href="about.html" class="btn-style-2 animated fadeInLeft">Learn More</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--BANNER END-->

  <div id="main">
    <!--HIGHLIGHTS ROW START-->
    <section class="highlights-row">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7">
            <div class="highlight-box">
              <div class="owl-carousel" id="highlight-fade">
                <div class="item">
                  <div class="top-col"> <strong class="title">Highlights</strong> <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i>27 February, 2017</span> </div>
                  <b>Doctors, Nurses And Paramedics Showing Outstanding Performance</b>
                  <p>Provincial Minister for Specialized Healthcare &amp; Medical Education, Khawaja Salman Rafique presided over a meeting at Civil Secretariat, today which discussed in detail the matters for constitution of a committee... [+]</p>
                </div>
                <div class="item">
                  <div class="top-col"> <strong class="title">Highlights</strong> <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i>18 March, 2017</span> </div>
                  <b>Provincial Minister Paramedics Showing Outstanding Performance</b>
                  <p>Medical Education for Specialized Healthcare &amp; Medical Education, Khawaja Salman Rafique presided over a meeting at Civil Secretariat, today which discussed in detail the matters for constitution of a committee... [+]</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-5">
            <div class="thumb"><img src="/assets/images/weather-img.jpg" alt="img"></div>
          </div>
        </div>
      </div>
    </section>
    <!--HIGHLIGHTS ROW END-->

    <!--SERVICES BOARD SECTION START-->
    <section class="services-board">
      <div class="container">
        <div class="heading-style-1">
          <h2>Services And <span>Vision Board</span></h2>
        </div>
        <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit praesent quis libero neque.</em>
        <div class="owl-carousel" id="services-slider">
          <div class="item">
            <div class="box board-color-1">
              <div class="round-icon"><i class="fa fa-transgender-alt" aria-hidden="true"></i></div>
              <h3><a href="services.html">Know About
                Citizens Rights</a> </h3>
              <p>At vero eos et accusamus et iusto odio dignis ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
            </div>
          </div>
          <div class="item">
            <div class="box board-color-2">
              <div class="round-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
              <h3><a href="services.html">Education &amp; <span>Public Library</span></a> </h3>
              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
            </div>
          </div>
          <div class="item">
            <div class="box board-color-3">
              <div class="round-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
              <h3><a href="services.html">Government <span>Economy</span></a> </h3>
              <p>Saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
            </div>
          </div>
          <div class="item">
            <div class="box board-color-4">
              <div class="round-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
              <h3><a href="services.html">Govt. International <span>Current Affairs</span></a> </h3>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
            </div>
          </div>
          <div class="item">
            <div class="box board-color-5">
              <div class="round-icon"><i class="fa fa-gavel" aria-hidden="true"></i></div>
              <h3><a href="services.html">Bugets &amp; <span>Govt. Policies</span></a> </h3>
              <p>At vero eos et accusamus et iusto odio dignis ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
            </div>
          </div>
          <div class="item">
            <div class="box board-color-6">
              <div class="round-icon"><i class="fa fa-flag" aria-hidden="true"></i></div>
              <h3><a href="services.html">Country Culture <span>&amp; Heritages</span></a> </h3>
              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
            </div>
          </div>
          <div class="item">
            <div class="box board-color-7">
              <div class="round-icon"><i class="fa fa-bank" aria-hidden="true"></i></div>
              <h3><a href="services.html">Constitution &amp; <span>Govt. Laws</span></a> </h3>
              <p>Saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
            </div>
          </div>
          <div class="item">
            <div class="box board-color-8">
              <div class="round-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
              <h3><a href="services.html">Business &amp; <span>Administrations</span></a> </h3>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--SERVICES BOARD SECTION END-->

    <!--FACTS FIGURES SECTION START-->
    <section class="facts-figures">
      <div class="container">
        <div class="holder">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="box"> <strong class="number">1495</strong> <span>Established</span> </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="box"> <strong class="number">75,399</strong> <span>KM Square</span> </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="box border-none"> <strong class="number">1,435,268</strong> <span>Total Population</span> </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--FACTS FIGURES SECTION END-->

    <!--NEW SECTION START-->
    <section class="news-section">
      <div class="container">
        <div class="heading-style-1">
          <h2>Daily News <span>From Govt.</span></h2>
        </div>
        <em>There are many variations of passages available but majority suffered alteration.</em> <a href="news-grid.html" class="btn-style-1">More News</a>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <div class="frame"><a href="news-detail.html"><img src="/assets/images/news/news-img-1.jpg" alt="img"></a></div>
              <div class="text-box">
                <div class="tp-row">
                  <div class="round-thumb"><img src="/assets/images/news/author-img-1.jpg" alt="img"></div>
                  <em>James  Anderson</em> <span class="date">27 Feb, 2016</span> </div>
                <div class="inner">
                  <h4><a href="news-detail.html">Govt. Aids Control
                    Program Starts Free
                    Camp For Truck Drivers</a></h4>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus quien... </p>
                </div>
                <div class="btm-row">
                  <ul>
                    <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i>374</a></li>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>106</a></li>
                  </ul>
                  <a href="news-list.html" class="btn-1 btn-color-1">Agriculture</a> </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <div class="frame"><a href="news-detail.html"><img src="/assets/images/news/news-img-2.jpg" alt="img"></a></div>
              <div class="text-box">
                <div class="tp-row">
                  <div class="round-thumb"><img src="/assets/images/news/author-img-2.jpg" alt="img"></div>
                  <em>Lanister Jammie </em> <span class="date">27 Feb, 2016</span> </div>
                <div class="inner">
                  <h4><a href="news-detail.html">Govt. is going to be sign
                    Business Deals with
                    International Company.</a></h4>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus quien... </p>
                </div>
                <div class="btm-row">
                  <ul>
                    <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i>374</a></li>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>106</a></li>
                  </ul>
                  <a href="news-list.html" class="btn-1 btn-color-2">Business</a> </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <div class="frame"><a href="news-detail.html"><img src="/assets/images/news/news-img-3.jpg" alt="img"></a></div>
              <div class="text-box">
                <div class="tp-row">
                  <div class="round-thumb"><img src="/assets/images/news/author-img-3.jpg" alt="img"></div>
                  <em>Sam Emister</em> <span class="date">27 Feb, 2016</span> </div>
                <div class="inner">
                  <h4><a href="news-detail.html">Internship and Jobs would be Announce in next week.</a></h4>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus quien... </p>
                </div>
                <div class="btm-row">
                  <ul>
                    <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i>374</a></li>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>106</a></li>
                  </ul>
                  <a href="news-list.html" class="btn-1 btn-color-3">Education</a> </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <div class="frame"><a href="news-detail.html"><img src="/assets/images/news/news-img-4.jpg" alt="img"></a></div>
              <div class="text-box">
                <div class="tp-row">
                  <div class="round-thumb"><img src="/assets/images/news/author-img-4.jpg" alt="img"></div>
                  <em>John Doe</em> <span class="date">27 Feb, 2016</span> </div>
                <div class="inner">
                  <h4><a href="news-detail.html">Contractors decide to built affordable housing sectors for everyone.</a></h4>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus quien... </p>
                </div>
                <div class="btm-row">
                  <ul>
                    <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i>374</a></li>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>106</a></li>
                  </ul>
                  <a href="news-list.html" class="btn-1 btn-color-4">Affairs</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--NEW SECTION END-->

    <!--UPCOMING EVENTS SECTION START-->
    <section class="upcoming-event">
      <div class="container">
        <div class="heading-style-1">
          <h2>See Our <span>Upcoming Events</span></h2>
        </div>
        <em>There are many variations of passages available but majority suffered alteration.</em> <a href="event-list.html" class="btn-style-1">View More Events</a>
        <section class="event-slider">
          <div id="carousel" class="flexslider">
            <ul class="slides">
              <li> <img src="/assets/images/events/event-img-1.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-2.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-3.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-4.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-5.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-6.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-1.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-2.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-3.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-4.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-5.jpg" alt="img"> </li>
              <li> <img src="/assets/images/events/event-img-6.jpg" alt="img"> </li>
            </ul>
          </div>
          <div id="slider" class="flexslider event-caption">
            <ul class="slides">
              <li>
                <div class="date-box">22 <span>FEB</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">10th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">10 <span>JAN</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">9th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">11 <span>JAN</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">12th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">10 <span>MAR</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">7th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">13 <span>JAN</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">10th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">18 <span>OCT</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">12th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">19 <span>MAY</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">5th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">10 <span>JAN</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">9th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">22 <span>FEB</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">10th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">18 <span>JAN</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">4th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">10 <span>JAN</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">9th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
              <li>
                <div class="date-box">18 <span>DEC</span></div>
                <div class="text-col">
                  <h3><a href="event-detail.html">18th Annual Harvest
                    Festival &amp; Concert</a></h3>
                  <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 am - 09:00 pm</span>
                  <p>Saepe eveniet ut et voluptates etena repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
                  <a href="event-detail.html" class="btn-style-1">Event Details</a> </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </section>
    <!--UPCOMING EVENTS SECTION END-->

    <!--DEPARTMENTS SECTION START-->
    <section class="department-section">
      <div class="container">
        <div class="heading-style-1">
          <h2>Find &amp; explore <span>Govt. Departments</span></h2>
        </div>
        <em>Malesuada hymenaeos imperdiet tristique dignissim purus pulvinar quam risus non duis.</em>
        <div class="row">
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-1.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Administration</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-2.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Housing Sectors</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-3.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Employment</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-4.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Education</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-5.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Stock Market</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-6.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Health Care</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-7.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Shelter Homes</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-8.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Tourism</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-9.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">IT Services</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-10.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Immigration</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-11.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Grants &amp; Aids</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="box">
              <div class="frame"> <img src="/assets/images/department-img-12.jpg" alt="img">
                <div class="caption">
                  <div class="holder"><a href="departments.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="text-box">
                <h4><a href="departments.html">Govt. Contacts</a></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-row"><a href="departments.html" class="btn-style-2">Visit More Departments</a></div>
      </div>
    </section>
    <!--DEPARTMENTS SECTION END-->

    <!--GOVERNOR MESSAGE SECTION START-->
    <section class="governor-message">
      <div class="holder"> <span class="image-frame animated fadeInLeft"><img src="/assets/images/governor-message-layer-bg.png" alt="img"></span>
        <div class="text-box">
          <h2>Governor’s <span>Few Words</span></h2>
          <blockquote> <span>“</span> The Highest Glory of the Citizen’s Revolution was this: it connected in one indissoluble bond the principles of Civil Government with the pronciples of Humanity <em>”</em> </blockquote>
          <h4>By Governor:</h4>
          <strong class="name">Anderson James</strong> </div>
      </div>
    </section>
    <!--GOVERNOR MESSAGE SECTION END-->

    <!--EXPLORE SECTION START-->
    <section class="explore-section">
      <div class="container">
        <div class="heading-style-1">
          <h2>Explore <span>The city</span></h2>
        </div>
        <em>Semper diam convallis Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em> <a href="explore-city.html" class="btn-style-1">Watch More Videos</a>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="video-frame"> <a href="#" class="btn-play"  data-toggle="modal" data-target="#myModal"></a>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <iframe src="https://player.vimeo.com/video/81862752"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="popular-videos">
              <div class="popular-head">
                <h3>City’s Popular Videos</h3>
              </div>
              <div class="text-box">
                <ul>
                  <li>
                    <div class="video-frame-1"> <a href="#" class="btn-play" data-toggle="modal" data-target="#myModal"></a>
                      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                              <iframe src="https://player.vimeo.com/video/81862752"></iframe>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-col">
                      <h4><a href="explore-city.html">Metropolitan Council Meeting and Board Lawyer Benefits...</a></h4>
                      <div class="btm-row">
                        <ul>
                          <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>17 Mar, 2016</a></li>
                          <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>5:20</a></li>
                          <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>204</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="video-frame-2"> <a href="#" class="btn-play" data-toggle="modal" data-target="#myModal"></a>
                      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                              <iframe src="https://player.vimeo.com/video/81862752"></iframe>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-col">
                      <h4><a href="explore-city.html">Expands investment in Local  Transportation for bus service.</a></h4>
                      <div class="btm-row">
                        <ul>
                          <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>27 Feb, 2016</a></li>
                          <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>7:39</a></li>
                          <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>106</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--EXPLORE SECTION END-->

    <!--COMMUNITY AND CITIZENS SECTION START-->
    <section class="community-citizen">
      <div class="holder">
        <div class="container">
          <div class="heading-style-1">
            <h2>Community &amp; <span>Citizens Cornor</span></h2>
          </div>
          <em>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit nemo enim ipsam.</em>
          <div class="row">
            <div class="col-md-2 col-sm-4">
              <div class="box"> <i class="fa fa-umbrella" aria-hidden="true"></i>
                <h4>City Live</h4>
                <ul>
                  <li><a href="#">Living in City</a></li>
                  <li><a href="#">Animals &amp; Pets</a></li>
                  <li><a href="#">Health</a></li>
                  <li><a href="#">Learning</a></li>
                  <li><a href="#">Public Safety</a></li>
                  <li><a href="#">Real Estate</a></li>
                  <li><a href="#">Driving</a></li>
                  <li><a href="#">Transportation</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-4">
              <div class="box"> <i class="fa fa-briefcase" aria-hidden="true"></i>
                <h4>Work</h4>
                <ul>
                  <li><a href="#">Work with us</a></li>
                  <li><a href="#">Economic Developing</a></li>
                  <li><a href="#">Revenue and Taxes</a></li>
                  <li><a href="#">Real Estate</a></li>
                  <li><a href="#">Procurements</a></li>
                  <li><a href="#">Financial Services</a></li>
                  <li><a href="#">Pensions</a></li>
                  <li><a href="#">Risk Management</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-4">
              <div class="box"> <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <h4>Play</h4>
                <ul>
                  <li><a href="#">Arts &amp; Attractions</a></li>
                  <li><a href="#">Family Fun</a></li>
                  <li><a href="#">Food and Dining</a></li>
                  <li><a href="#">National Sport</a></li>
                  <li><a href="#">Music &amp; Entertainment</a></li>
                  <li><a href="#">Parks &amp; Recreation</a></li>
                  <li><a href="#">Sports</a></li>
                  <li><a href="#">Cultural Programs</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-4">
              <div class="box"> <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                <h4>Media</h4>
                <ul>
                  <li><a href="#">Newsroom</a></li>
                  <li><a href="#">Calendar of Events</a></li>
                  <li><a href="#">Photo Gallery</a></li>
                  <li><a href="#">Video Gallery</a></li>
                  <li><a href="#">Social Media</a></li>
                  <li><a href="#">Report an Issues</a></li>
                  <li><a href="#">RSS Center</a></li>
                  <li><a href="#">Public Safety</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-4">
              <div class="box"> <i class="fa fa-bank" aria-hidden="true"></i>
                <h4>City Govt.</h4>
                <ul>
                  <li><a href="#">President</a></li>
                  <li><a href="#">Senators</a></li>
                  <li><a href="#">Ministries</a></li>
                  <li><a href="#">Federal Agencies</a></li>
                  <li><a href="#">Governor</a></li>
                  <li><a href="#">State Legislators</a></li>
                  <li><a href="#">State Agencies</a></li>
                  <li><a href="#">Tribal</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-4">
              <div class="box"> <i class="fa fa-flag" aria-hidden="true"></i>
                <h4>Services</h4>
                <ul>
                  <li><a href="#">Govt. Foreign Affairs</a></li>
                  <li><a href="#">Govt. Benefits, Grants</a></li>
                  <li><a href="#">Housing &amp; Community</a></li>
                  <li><a href="#">Jobs and Employment</a></li>
                  <li><a href="#">Money &amp; Shopping</a></li>
                  <li><a href="#">Travel &amp; Immigration</a></li>
                  <li><a href="#">Voting &amp; Elections</a></li>
                  <li><a href="#">Visitors &amp; Delegations</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mayor-row">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="mayor-office mayor-colo-1">
                  <h3>Chyrlen Coleman</h3>
                  <h2>Mayor’s Office</h2>
                  <a href="#" class="link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a> </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="mayor-office mayor-colo-2">
                  <h3>Chyrlen Coleman</h3>
                  <h2>City Council</h2>
                  <a href="#" class="link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--COMMUNITY AND CITIZENS SECTION END-->
  </div>
  <!--MAIN END-->
