<!--FOOTER SECTION 2 START-->
<section class="widget-chat" ng-controller="WidgetChatCtrl">
  <div class="container">
      <div class="fixed-action-btn" ng-show="!data.toogle">
        <a class="btn-floating" ng-click="toogleWidget()">
          <i class="fa fa-commenting fa-2x"></i>
        </a>
      </div>
      <div class="widget-container" ng-show="data.toogle">
        <div align="right" class="header"> Avez vous des préoccupations ? <a class="btn btn-link" ng-click="closeWidget()"><i class="fa fa-angle-down fa-2x"></i></a></div>
        <simple-chat messages="data.messages" local-user="data.you" send-function="sendMessage" show-user-avatar="true"
         send-button-text="Demander" composer-placeholder-text="Que voulez-vous savoir ?"></simple-chat>
      </div>
      
    </div>  
</section>
<footer id="footer">
  <section class="footer-section-2">
    <div class="container">
      <div class="footer-social"> <strong class="title">Restez informé </strong>
        <ul>
          <li><a href="http://web.facebook.com/scpagbenin" target="_blank"><i class="fa fa-facebook social-color-2" aria-hidden="true"></i>Aimer</a></li>
          <li><a href="http://plus.google.com/+SocialWatchBéninRéseau" target="_blank"><i class="fa fa-google-plus social-color-3" aria-hidden="true"></i>Suivre</a></li>
          <li><a href="mailto:swbenin@gmail.com"><i class="fa fa-envelope social-color-1" aria-hidden="true"></i>Email</a></li>
        </ul>
      </div>
      <div class="copyright">
        <a href="http://www.socialwatch-benin.org" target="_blank"><img src="/assets/images/logo_socialwatch.png" alt="Logo SocialWatch Bénin" /></a>
      </div>
    </div>
  </section>
  <!--FOOTER SECTION 2 END--> 
</footer>
