<!--FOOTER SECTION 2 START-->
<footer id="footer">
  <section class="footer-section-2">
    <div class="container">
      <div class="footer-social"> <strong class="title">Be Social:</strong>
        <ul>
          <li><a href="#"><i class="fa fa-twitter social-color-1" aria-hidden="true"></i>Follow</a></li>
          <li><a href="#"><i class="fa fa-facebook social-color-2" aria-hidden="true"></i>Like</a></li>
          <li><a href="#"><i class="fa fa-google-plus social-color-3" aria-hidden="true"></i>Connect</a></li>
          <li><a href="#"><i class="fa fa-instagram social-color-4" aria-hidden="true"></i>Follow</a></li>
          <li><a href="#"><i class="fa fa-rss social-color-5" aria-hidden="true"></i>Feed</a></li>
          <li><a href="#"><i class="fa fa-youtube-play social-color-6" aria-hidden="true"></i>Watch</a></li>
        </ul>
      </div>
    </div>
  </section>
  <!--FOOTER SECTION 2 END--> 
</footer>
