<!--HEADER START-->
<header id="header">
  <section class="top-row">
    <div class="container">
      <div class="left-box">
        <ul>
          <li><a href="event-list.html"><i class="fa fa-calendar" aria-hidden="true"></i>Events</a></li>
          <li><a href="departments.html"><i class="fa fa-bank" aria-hidden="true"></i>Departments</a></li>
          <li><a href="contact-2.html"><i class="fa fa-map-marker" aria-hidden="true"></i>Maps</a></li>
          <li><a href="news-grid.html"><i class="fa fa-video-camera" aria-hidden="true"></i>News Room</a></li>
          <li><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Information</a></li>
          <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Jobs</a></li>
        </ul>
      </div>
      <a href="#" class="btn-style-1">Ask Question to Govt. </a> </div>
  </section>
  <section class="logo-row">
    <div class="container"> <strong class="logo"><a href="index.html"><img src="images/logo.png" alt="img"></a></strong>
      <div class="menu-col">
        <div class="menu-col-top"> <a href="donate.html" class="btn-style-1">Donate</a>
          <ul>
            <li>Contact: <a href="#">+123 4567 8910</a></li>
            <li>Email: <a href="mailto:">info@government.com</a></li>
          </ul>
        </div>
        <div class="btm-row">
          <!--BURGER NAVIGATION SECTION START-->
          <div class="cp-burger-nav">
            <!--BURGER NAV BUTTON-->
            <div id="cp_side-menu-btn" class="cp_side-menu"><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></div>
            <!--BURGER NAV BUTTON-->

            <!--SIDEBAR MENU START-->
            <div id="cp_side-menu"> <a href="#" id="cp-close-btn" class="crose"><i class="fa fa-close"></i></a>
              <div class="content mCustomScrollbar">
                <div id="content-1" class="content">
                  <div class="cp_side-navigation">
                    <nav>
                      <ul class="navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">News<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="news-grid.html">News Grid</a></li>
                            <li><a href="news-list.html">News List</a></li>
                            <li><a href="news-detail.html">News Detail</a></li>
                          </ul>
                        </li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="event-list.html">Event List</a></li>
                            <li><a href="event-detail.html">Event Detail</a></li>
                          </ul>
                        </li>
                        <li><a href="explore-city.html">Explore City </a></li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="blog-full.html">Blog Full</a></li>
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-list.html">Blog List</a></li>
                            <li><a href="blog-detail.html">Blog Detail</a></li>
                            <li><a href="causes-grid.html">Causes Grid</a></li>
                            <li><a href="causes-list.html">Causes List</a></li>
                            <li><a href="causes-detail.html">Causes Detail</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="faq.html">Faqs</a></li>
                            <li><a href="donate.html">Donate</a></li>
                            <li><a href="error.html">Error 404</a></li>
                            <li><a href="comin-soon.html">Coming Soon</a></li>
                          </ul>
                        </li>
                        <li><a href="#" data-toggle="dropdown" role="button" aria-expanded="false">Contact<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="contact-1.html">Contact 1</a></li>
                            <li><a href="contact-2.html">Contact 2</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <strong class="copy">Contact: <b>+</b>123 4567 8910</strong> <strong class="copy">Email: <a href="mailto:">info@government.com</a></strong>
              <div class="sidebar-social">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!--SIDEBAR MENU END-->

          </div>
          <!--BURGER NAVIGATION SECTION END-->
          <div class="header-search">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <form action="#">
                    <input type="text">
                  </form>
                </li>
              </ul>
            </div>
          </div>
          <nav class="navbar navbar-inverse">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav" id="nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="#">News</a>
                  <ul>
                    <li><a href="news-grid.html">News Grid</a></li>
                    <li><a href="news-list.html">News List</a></li>
                    <li><a href="news-detail.html">News Detail</a></li>
                  </ul>
                </li>
                <li><a href="#">Events</a>
                  <ul>
                    <li><a href="event-list.html">Event List</a></li>
                    <li><a href="event-detail.html">Event Detail</a></li>
                  </ul>
                </li>
                <li><a href="explore-city.html">Explore City</a></li>
                <li><a href="#">Pages</a>
                  <ul>
                    <li><a href="#">Blog</a>
                      <ul>
                        <li><a href="blog-full.html">Blog Full</a></li>
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog-list.html">Blog List</a></li>
                        <li><a href="blog-detail.html">Blog Detail</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Causes</a>
                      <ul>
                        <li><a href="causes-grid.html">Causes Grid</a></li>
                        <li><a href="causes-list.html">Causes List</a></li>
                        <li><a href="causes-detail.html">Causes Detail</a></li>
                      </ul>
                    </li>
                    <li><a href="departments.html">Departments</a></li>
                    <li><a href="donate.html">Donate</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="faq">faqs</a></li>
                    <li><a href="comin-soon.html">Coming Soon</a></li>
                    <li><a href="error.html">404 Error</a></li>
                  </ul>
                </li>
                <li><a href="#">Contact</a>
                  <ul>
                    <li><a href="contact-1.html">Contact 1</a></li>
                    <li><a href="contact-2.html">Contact 2</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
</header>
<!--HEADER END-->
