<div ng-controller="SiteSearchCtrl">
  <div class="navbar-fixed">
      <nav class="white">
        <div class="nav-wrapper container">
          <ul class="right hide-on-med-and-down">
          <li><a class="" href="/forum"><i class="material-icons left">forum</i>Chat</a></li>
            <li><a class="" ui-sref="admin.main"><i class="material-icons left">exit_to_app</i>Connexion</a></li>
          </ul>
        </div>
      </nav>
      <nav class="main">
        <div class="nav-wrapper container">
          <a ui-sref="home" class="brand-logo">mon<b>PAG</b></a>
          <a self-button-collapse href="" class="button-collapse menu right valign navbar-toggle" data-activates="mobile-demo">
            <span class="sr-only"></span>
            <span class="icon-bar first-bar"></span>
            <span class="icon-bar second-bar"></span>
            <span class="icon-bar third-bar"></span>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a ui-sref="home"><i class="material-icons left">home</i>Accueil</a></li>
            <li>
              <a self-dropdown class="dropdown-button" href="#" data-activates="pag_dropdown" data-beloworigin="true" data-hover="true"><i class="material-icons left">account_balance</i>Le Programme</a>
              <ul id="pag_dropdown" class="dropdown-content">
                  <li><a ui-sref="piliers">Les piliers</a></li>
                  <li><a ui-sref="axes">Les axes</a></li>
                  <li><a ui-sref="secteurs">Les secteurs</a></li>
                  <li><a ui-sref="projets">Les projets</a></li>
              </ul>
            </li>
            <li>
              <a self-dropdown class="dropdown-button" href="#" data-activates="download_dropdown" data-beloworigin="true" data-hover="true"><i class="material-icons left">file_download</i>Téléchargements</a>
              <ul id='download_dropdown' class='dropdown-content'>
                <li><a href="assets/docs/synthese-pag-benin-revele.pdf" target="_blank"><i class="material-icons left">attachment</i>Le PAG</a></li>
                <li class="divider"></li>
                <li><a href="" class="teal-text text-pag"><i class="material-icons left">memory</i>Les API</a></li>
              </ul>
            </li>
            <li><a href="#" ng-click="toggleSearch()" class="search-trigger" class="teal-text text-pag"><i class="material-icons left">search</i>Recherche</a></li>
            <li>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  <div ng-include="'views/site/homesearch.html'"></div>
  <ul class="side-nav">
      <li><a href="assets/docs/synthese-pag-benin-revele.pdf" target="_blank"><i class="material-icons left">attachment</i>Le PAG</a></li>
      <li><a ui-sref="piliers"><i class="material-icons left">account_balance</i>Les piliers</a></li>
      <li><a ui-sref="projets"><i class="material-icons left">folder_open</i>Les projets</a></li>
      <li><a ng-click=""><i class="material-icons left">exit_to_app</i>Connexion</a></li>
    <li><a class="" ui-sref="admin.main"><i class="material-icons left">exit_to_app</i>Connexion</a></li>
  </ul>

  <ul self-collapse class="collapsible no-shadow side-nav" data-collapsible="accordion" id="mobile-demo">
    <li>
      <div class="nav-wrapper container">
        <a self-button-collapse-close ui-sref="home" class="brand-logo">mon<b>PAG</b></a>
        <span self-button-collapse-close class="close-menu-site"><i class="material-icons close" style="padding-right:20px">close</i></span>
        <a href=""  class="button-collapse menu right valign navbar-toggle" data-activates="mobile-demo">
          <span class="sr-only"></span>
          <span class="icon-bar first-bar"></span>
          <span class="icon-bar second-bar"></span>
          <span class="icon-bar third-bar"></span>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a self-button-collapse-close ui-sref="home"><i class="material-icons left">home</i>Accueil</a></li>
          <li><a self-dropdown class="dropdown-button" href="" data-activates="pag-dropdown" data-beloworigin="true" data-hover="true"><i class="material-icons left">account_balance</i>Le Programme</a></li>
            <li><a self-dropdown class="dropdown-button" href="#!" data-activates="download-dropdown" data-beloworigin="true" data-hover="true"><i class="material-icons left">file_download</i>Téléchargements</a></li>
            <li><a self-button-collapse-close ui-sref="search"><i class="material-icons left">search</i>Recherche</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a self-button-collapse-close ui-sref="search" class="collapsible-header "><i class="material-icons left" style="margin-right: 16px">search</i>Recherche</a>
    </li>
      <li class="divider no-margin"></li>
    <li>
      <a href="assets/docs/synthese-pag-benin-revele.pdf" target="_blank" class="collapsible-header "><i class="material-icons left" style="margin-right: 16px">attachment</i>Le PAG</a>
    </li>
    <li class="divider no-margin"></li>
    <li>
      <div class="collapsible-header "><i class="material-icons">account_balance</i>Les piliers</div>
      <div class="collapsible-body no-padding-but-left">
        <ul class="collapsible no-margin no-shadow no-border" data-collapsible="accordion">
          <li>
            <a self-button-collapse-close ui-sref="pilier({id:1})" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">looks_one</i>Pilier 1</a>
          </li>
          <li class="divider no-margin"></li>
          <li>
            <a self-button-collapse-close ui-sref="pilier({id:2})" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">looks_two</i>Pilier 2</a>
          </li>
          <li class="divider no-margin"></li>
          <li>
            <a self-button-collapse-close ui-sref="pilier({id:3})" class="collapsible-header teal-text text-pag left-align"><i class="material-icons left">looks_3</i>Piier 3</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="divider no-margin"></li>
    <li>
      <div class="collapsible-header "><i class="material-icons">folder_open</i>Les projets</div>
      <div class="collapsible-body no-padding-but-left">
          <ul class="collapsible no-margin no-shadow no-border" data-collapsible="accordion">
              <li>
                <a self-button-collapse-close ui-sref="projet({id:1})" class="collapsible-header left-align"><i class="material-icons">local_florist</i>AGRICULTURE</a>
              </li>
              <li class="divider no-margin"></li>
              <li>
                <a self-button-collapse-close ui-sref="projet({id:2})" class="collapsible-header left-align"><i class="material-icons">location_city</i>CADRE DE VIE</a>
              </li>
              <li class="divider no-margin"></li>
              <li>
                <a self-button-collapse-close ui-sref="projet({id:3})" class="collapsible-header left-align"><i class="material-icons">local_library</i>CIIS</a>
              </li>
              <li class="divider no-margin"></li>
              <li>
                <a self-button-collapse-close ui-sref="projet({id:2})" class="collapsible-header left-align"><i class="material-icons">whatshot</i>EAU</a>
              </li>
              <li class="divider no-margin"></li>
              <li>
                <a self-button-collapse-close ui-sref="projet({id:1})" class="collapsible-header left-align"><i class="material-icons">lightbulb_outline</i>ELECTRICITE</a>
              </li>
              <li class="divider no-margin"></li>
              <li>
                <a self-button-collapse-close ui-sref="projet({id:3})" class="collapsible-header left-align"><i class="material-icons">domain</i>INFRASTRUCTURE</a>
              </li>
              <li class="divider no-margin"></li>
              <li>
                <a self-button-collapse-close ui-sref="projet({id:2})" class="collapsible-header left-align"><i class="material-icons">local_library</i>numerique</a>
              </li>
              <li class="divider no-margin"></li>
              <li>
                <a self-button-collapse-close ui-sref="projet({id:1})" class="collapsible-header left-align"><i class="material-icons">security</i>PROTECTION SOCIALE</a>
              </li>
              <li class="divider no-margin"></li>
              <li>
                <a self-button-collapse-close ui-sref="projet({id:2})" class="collapsible-header left-align"><i class="material-icons">airport_shuttle</i>TOURISME</a>
              </li>
            </ul>
      </div>
    </li>
    <li class="divider no-margin"></li>
    <li>
      <a ng-click="" class="collapsible-header "><i class="material-icons left" style="margin-right: 16px">file_download</i>Téléchargements</a>
    </li>
    <li class="divider no-margin"></li>
    <li>
      <a ng-click="" class="collapsible-header "><i class="material-icons left" style="margin-right: 16px">forum</i>Chat</a>
    </li>
    <li class="divider no-margin"></li>
    <li>
      <a ng-click="" class="collapsible-header "><i class="material-icons left" style="margin-right: 16px">exit_to_app</i>Connexion</a>
    </li>
  </ul>
</div>
