<!--MAIN START-->
<div id="main">
    <!--INNER BANNER START-->
    <div id="inner-banner" style="margin-bottom:0;">
        <div class="container">
            <div class="inner-banner-heading">
            <h1>404</h1>
            <em>Contenu non retrouvé !</em> </div>
        </div>
        <div class="breadcrumb-col"> <a ui-sref="home" class="btn-back"><i class="fa fa-home" aria-hidden="true"></i>Retour à l'accueil</a>
            <ol class="breadcrumb">
            <li><a ui-sref="home">Accueil</a></li>
            <li class="active">Non retrouvé </li>
            </ol>
        </div>
    </div>
    <!--INNER BANNER END--> 

    <section class="error-section">
        <div class="container">
            <div class="holder">
            <h1>404</h1>
            <p>
                <strong class="title">Contenu non retrouvé !</span>
            </p>
            <div class="btn-row"><a ui-sref="home" class="btn-back">Revenir à l'accueil</a></div>
            </div>
        </div>
    </section>
</div>