<div class="main-content white">
  <div class="container">

    <h4 class="no-margin-bottom title">
      Liste des secteurs<span class=" hide-on-small-only"></span>
      <a ui-sref="admin.newsecteur" class="btn green pag hide-on-small-only right">Nouveau secteur</a></h4>
    <p class="subtitle grey-text text-lighten-1 no-margin-top">Consulter la liste de tous les secteurs du PAG</p>

    <table class="striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Titre</th>
          <th>Description</th>
          <th>Projets</th>
          <th class="center text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat='secteur in listSecteurs'>
          <td>{{$index + 1}}</td>
          <td>{{secteur.nom}}</td>
          <td>{{secteur.description}}</td>
          <td>5</td>
          <td class="center text-center">
            <a ui-sref="admin.editsecteur({'id': secteur.id})"><i class="material-icons">edit</i></a>
            <a href="#!" ng-click="deleteSect($index)"><i class="material-icons">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
