<!--MAIN START-->
<div id="main">
    <!--INNER BANNER START-->
    <div id="inner-banner">
        <div class="container">
            <div class="inner-banner-heading">
            <h1>Projet n° {{projet.id}}</h1>
            <em>{{projet.nom}}</em> </div>
        </div>
        <div class="breadcrumb-col"> <a ui-sref="home" class="btn-back"><i class="fa fa-home" aria-hidden="true"></i>Retour à l'accueil</a>
            <ol class="breadcrumb">
            <li><a ui-sref="home">Accueil</a></li>
            <li class="active">Projet</li>
            </ol>
        </div>
    </div>
    <!--INNER BANNER END--> 
<!--BLOG PAGE START-->
    <section class="blog-page event-detail projet-page">
        <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8">
            <div class="event-box">
                <div class="frame">
                    <img ng-src="{{getImageContent('preview.jpg')}}" alt="Image illustratif du projet">
                    <div class="event-timer">
                        <div class="defaultCountdown"></div>
                    </div>
                </div>
                <div class="event-caption">
                <div class="date-box" ng-show="(projet.dateDebutPrevisionnel | date: 'yyyy') > '2015'">
                    <span>Démarrage prévu</span>
                    {{projet.dateDebutPrevisionnel | date: 'dd'}}
                    {{projet.dateDebutPrevisionnel | date: 'MMM'}}
                    <span>{{projet.dateDebutPrevisionnel | date: 'yyyy'}}</span>
                </div>
                <div class="text-col">
                    <h3 class="title">{{projet.nom}}</h3>
                </div>
                </div>
            </div>
            <div class="post-box">
                <div class="text-box">
                    <div class="projet-content">
                        <section class="presentation bg1">
                            <div class="title">Présentation du projet</div>
                            <p class="content">{{projet.description}}</p>
                        </section>
                        <section class="impacts bg2">
                            <div class="title">Impacts économiques et sociaux à 10 ans</div>
                            <p class="content"><img ng-src="{{getImageContent('1.png')}}" alt="Impacts économiques et sociaux à 10 ans"></p>
                        </section>
                        <section class="calendrier bg2">
                            <div class="title">Calendrier indicatif</div>
                            <p class="content"><img ng-src="{{getImageContent('2.png')}}" alt="Calendrier indicatif"></p>
                        </section>
                        <section class="financement bg2">
                            <!-- <div class="title">Besoins de financement</div>
                            <p class="content"></p> -->
                            <img ng-src="{{getImageContent('3.png')}}" alt="Financement">
                        </section>
                    </div>
                    <div class="share-box">
                        <!-- <strong class="title">Partager </strong>
                        <ul>
                        <li><a href="#" class="social-color-1"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="social-color-2"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="social-color-3"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="social-color-4"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>    
                        </ul> -->
                        <div class="like" ng-show="projet.id > 0">
                            | <span class="like_btn"><a title="J'aime" ng-click="like('PROJET',projet.id,true)" href="#"><img ng-src="/assets/images/like.png" alt="J'aime"></a> {{nbLike.like}} </span><span class="like_btn"> <a title="Je n'aime pas" ng-click="like('PROJET',projet.id,false)" href="#"><img ng-src="/assets/images/unlike.png" alt="J'aime pas"></a> {{nbLike.unlike}}</span>
                        </div>
                    </div>
                    <div class="col s6 ratings-icons" ng-show="projet.id > 0">
                        <p class="title"><b>Noter ce projet</b>  </p>
                        <ul style="margin-bottom:0">
                            <li ng-repeat="n in noteList">
                                <span ng-if="n.indice == 1">
                                    <a ng-click="doNote(n.noteType)" href="" title="{{n.indice}} étoile" class="secondary-content"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                </span>
                                <span ng-if="n.indice > 1">
                                    <a ng-click="doNote(n.noteType)" href="" title="{{n.indice}} étoiles" class="secondary-content"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                </span>
                            </li>
                            <li><strong style="font-size:18px"><span ng-show="noteEntity.moyenne == 'NaN'">0</span>{{noteEntity.allNotesCount}}</strong> avis</li>
                            <li><span ng-show="waiting"><i class="fa fa-circle-o-notch fa-spin"></i></span></li>
                        </ul>
                        <div>
                            <ul>
                                <li>
                                    <b><span ng-show="noteEntity.moyenne == 'NaN'">0</span>{{noteEntity.moyenne | number:2 }} sur 5 étoiles </b></li>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-note-view">
                        <ul>
                            <li ng-repeat="note in noteEntity.notes | orderBy: '-i'">
                                <div class="star block-view">{{note.i}} star<span ng-show="note.i > 1">s</span></div>
                                <div class="progress noteshow block-view">
                                    <div align="center" class="progress-bar progress-bar-success" role="progressbar" style="width: {{ ((note.value / noteEntity.allNotesCount) * 100) + '%' }}"></div>
                                </div>
                                <div class="total block-view"><span ng-show="note.value == 0">0</span>{{ ((note.value / noteEntity.allNotesCount) * 100) | number:2 }} % </div>
                            </li>
                            
                        </ul>
                    </div>
                    <hr>
                    <div class="comments-section">
                            <h3>Commentaires</h3>
                            <p ng-hide="listComments.length > 0">Aucun commentaire </p>
                            <div class="media" ng-repeat="usercom in listComments | orderBy:'-id'">
                                <div class="media-left">
                                    <div class=""><a href="#"><i class="fa fa-user fa-2x"></i> </a> </div>
                                </div>
                                <div class="media-body">
                                    <div class="text-outer">
                                            <strong class="name"><span ng-show="usercom.pseudo == null">Anonyme</span></strong>
                                            <strong class="name"><span ng-show="usercom.pseudo !=null">{{usercom.pseudo}}</span></strong>
                                        <span class="date">Le {{usercom.dateCreation | date: 'dd MMM yyyy à HH:MM:ss'}}</span>
                                    <p ng-bind-html="usercom.contenu"></p>
                                    <div class="medias-comments">
                                        <ul>
                                            <li ng-repeat="media in usercom.medias">
                                                    <span ng-if="media.type.indexOf('image') != - 1">
                                                        <img ng-src="{{media.lien}}" alt="Image" class="img-thumb-comment">
                                                    </span>
                                                    <span ng-if="media.type.indexOf('video')  != - 1 ">
                                                        <videogular vg-theme="videogularThemes" class="video">
                                                            <vg-media vg-src="media.vgsrc">
                                                            </vg-media>
                                                            <vg-controls>
                                                                <vg-play-pause-button></vg-play-pause-button>
                                                                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                                                <vg-scrub-bar>
                                                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                                                </vg-scrub-bar>
                                                                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                                                <vg-volume>
                                                                    <vg-mute-button></vg-mute-button>
                                                                    <vg-volume-bar></vg-volume-bar>
                                                                </vg-volume>
                                                                <vg-fullscreen-button></vg-fullscreen-button>
                                                            </vg-controls>
                                                            <vg-overlay-play></vg-overlay-play>
                                                        </videogular>
                                                    </span>
                                                    <span ng-if="media.type.indexOf('audio')  != - 1 ">
                                                        <div><videogular vg-theme="videogularThemes" class="audio">
                                                            <vg-media vg-src="media.vgsrc" vg-type="audio"></vg-media>
                                                            <vg-controls>
                                                                <vg-play-pause-button></vg-play-pause-button>
                                                                <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                                                                <vg-scrub-bar>
                                                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                                                </vg-scrub-bar>
                                                                <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                                                                <vg-volume>
                                                                    <vg-mute-button></vg-mute-button>
                                                                    <vg-volume-bar></vg-volume-bar>
                                                                </vg-volume>
                                                            </vg-controls>
                                                        </videogular></div>
                                                    </span>
                                                </li>
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-form">
                            <h3>Donner votre avis </h3>
                            <form ng-submit="postComment()" name="formComment">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                                <input class="form-control" placeholder="Pseudo" aria-describedby="sizing-addon2" ng-model="comment.pseudo">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">OU</span>
                                                <input class="form-control" placeholder="adresse email" aria-describedby="basic-addon2"  ng-model="comment.userMail">
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea ui-tinymce="addCommentTinymceOptions" ng-model="comment.contenu" ng-required="true" placeholder="Message"></textarea>
                                    <br>
                                </div>
                                <br>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-paperclip"></i> Fichiers </span>
                                        <input class="form-control" type="file" ngf-select="" name="file" ng-model="comment.files" ngf-max-size="ngfMaxUpload" ngf-min-height="ngfMinUpload" ngf-accept="'image/*,audio/*,video/*'" ngf-multiple="true">
                                    </div>
                                    <span class="help">Taille maximale : {{ngfMaxUpload}}</span>
                                </div>
                                <div class="col-md-12" align="right" ng-show="projet.id > 0">
                                    <br>
                                    <input type="submit" value="VALIDER" ng-disabled="formComment.$invalid" />
                                </div>
                            </div>
                            </form>
                            <toaster-container></toaster-container>
                        </div>
                </div>
            </div>
            </div>
            <div class="col-md-3 col-sm-4">
            <aside>
                <div class="sidebar">
                <div class="widget-box">
                    <h3>Autre projets du même secteur</h3>
                    <div class="events-widget">
                    <ul>
                        <li ng-repeat="oth in listOtherProjetsSecteur" ng-if="oth.id != projet.id">
                            <div class="date-box"><span>{{oth.id}}</span></div>
                            <div class="text-col">
                                <a ui-sref="projet({nom: (oth.nom | slugify), id: oth.id})" class="">{{oth.nom | capitalizeFirst}}</a>
                                <span class="time">Démarrage <i class="fa fa-clock-o" aria-hidden="true"></i>{{projet.dateDebutPrevisionnel | date: 'dd MMM yyyy'}}</span>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="widget-box">
                    <h3>Autres projets</h3>
                    <div class="news-widget">
                    <ul>
                        <li ng-repeat="oth in listOtherProjetsSecteur | limitTo:3" ng-if="oth.id != projet.id">
                            <div class="text-area">
                                <a ui-sref="projet({nom: (oth.nom | slugify), id: oth.id})">{{oth.nom | capitalizeFirst}}</a>
                                <span><i class="fa fa-calendar" aria-hidden="true"></i>{{projet.dateDebutPrevisionnel | date: 'dd MMM yyyy'}}</span>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </aside>
            </div>
        </div>
        </div>
    </section>
<!--BLOG PAGE END--> 
</div>
<!--MAIN END-->