<div class="main-content left-align">
	<div class="container">
		<h4 class="no-margin-bottom title">Liste des projets du PAG</h4>
		<p class="subtitle grey-text text-lighten-1 no-margin-top">Tous les projets du PAG classés par secteur</p>
		<div class="divider"></div>
		<div class="valign-wrapper">
			<div class="row no-margin">
				<div class="col s12 m4" ng-repeat="secteur in listProjets">
						<ul self-collapse class="collapsible no-shadow" data-collapsible="accordion">
							<li>
								<div class="collapsible-header teal pag white-text active"><i class="material-icons">{{secteur.icon}}</i>{{secteur.nom | uppercase}}</div>
								<div class="collapsible-body no-padding-but-left">
									<ul class="collapsible no-margin no-shadow no-border" data-collapsible="accordion">
										<li ng-repeat="pil in secteur.projets">
											<a ui-sref="projet({id:pil.id})" class="collapsible-header teal-text text-pag left-align">{{pil.id}} - {{pil.nom}}</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
				</div>
			</div>
		</div>
	</div>
</div>