<footer class="teal pag">
  <div class="valign-wrapper">
    <div class="container">
      <div class="row hide-on-small-only">
        <div class="col s8 left-align white-text">
          monPAG - <strong>Copyright </strong>© 2017
        </div>
        <div class="col s4 right-align">
          designed by    <a href="http://hercege.com" target="_blank" class="brand-logo white-text">HERCEGE</a>
        </div>
      </div>

      <div class="row hide-on-med-and-up">
        <div class="col s12 center-align white-text">
          monPAG - <strong>Copyright </strong>© 2017
        </div>
        <div class="col s12 center-align">
          designed by    <a href="http://hercege.com" target="_blank" class="brand-logo white-text">HERCEGE</a>
        </div>
      </div>
    </div>
  </div>
</footer>
