<div class="main-content white">
    <div class="container">
        <h4 class="no-margin-bottom title">{{proj_title}}</h4>
        <p
            class="subtitle grey-text text-lighten-1 no-margin-top"
            ng-show="{{projet.id}}">Créer un nouveau projet</p>
        <div class="divider"></div>
        <!-- Content -->
        <div class="row no-margin">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <p class="no-margin">&nbsp;</p>
                    </div>
                    <form class="col s12" ng-submit="saveProject()">
                        <div class="row">
                            <div class="col s12 m-top-infos">
                                <h4 class="no-margin teal-text text-pag">Informations</h4>
                                <b>Veuillez remplir ce formulaire</b>
                            </div>
                            <div class="col s6">
                                <label for="titre">
                                    Nom du projet</label>
                                <input type="text" class="validate" ng-model="projet.nom">
                            </div>
                            <div class="col s6">
                                <label for="titre">
                                    Référence du projet</label>
                                <input type="text" class="validate" ng-model="projet.reference">
                            </div>
                            <div class="col s12">
                                <label for="description">Description du projet</label>
                                <textarea ui-tinymce="globalConfigEditText" class="materialize-textarea" ng-model="projet.description"></textarea>
                            </div>
                            <div class="col s6">
                                <label for="date debut">
                                    Date début réel du projet</label>
                                <input time-picker type="text" class="timepicker" ng-model="projet.dateDebutReel">
                            </div>
                            <div class="col s6">
                                <label for="date fin">
                                    Date fin réel du projet</label>
                                <input time-picker type="text" class="timepicker" ng-model="projet.dateFinReel">
                            </div>
                            <div class="col s6">
                                <label for="date debut">
                                    Date début prévisionel du projet</label>
                                <input time-picker type="text" class="timepicker" ng-model="projet.dateDebutPrevisionnel">
                            </div>
                            <div class="col s6">
                                <label for="date fin">
                                    Date fin prévisionel du projet</label>
                                <input time-picker type="text" class="timepicker" ng-model="projet.dateFinPrevisionnel">
                            </div>
                            <div class="col s6">
                                <label for="budget">Budget prévisionel du projet</label>
                                <input type="text" class="validate" ng-model="projet.budgetPrevisionnel">
                            </div>
                            <div class="col s6">
                                <label for="cout">
                                    Coût réel du projet</label>
                                <input type="text" class="validate" ng-model="projet.coutReel">
                            </div>
                            <div class="col s6">
                                <label for="financement-pr">Financement privé du projet</label>
                                <input type="text" class="timepicker" ng-model="projet.financementPriveReel">
                            </div>
                            <div class="col s6">
                                <label for="financement-pu">Financement public du projet</label>
                                <input type="text" class="timepicker" ng-model="projet.financementPublicReel">
                            </div>
                            <div class="col s6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-paperclip"></i> Fichiers </span>
                                    <input class="form-control" type="file" ngf-select="" name="file" ng-model="uploadFiles" ngf-max-size="ngfMaxUpload" ngf-min-height="ngfMinUpload" ngf-accept="'image/*,audio/*,video/*'" ngf-multiple="true">
                                </div>
                                <span class="help">Taille maximale : {{ngfMaxUpload}}</span>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 center center-align">
                                    <button type="submit" class="btn btn-large teal pag">Enregistrer</button>
                                </div>
                            </div>
                            <div ng-if="projet.id">
                                <h3>Prévisualisation des images</h3>
                                <div class="row">
                                    <div ng-repeat="media in medias" class="col s4">
                                        <span ng-if="media.type.indexOf('image') != - 1">
                                            <p>
                                                <strong>{{media.originalName}}</strong>
                                                <img ng-src="{{media.lien}}" alt="Image" class="img-thumb-comment" style="max-width: 100%">
                                            </p>
                                        </span>
                                        <span ng-if="media.type.indexOf('video') != - 1">
                                            <p><iframe src="{{media.lien}}" alt="Vidéo" class="img-thumb-comment"></iframe></p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Content -->
    </div>

</div>
