<!--MAIN START-->
<div id="main">
    <!--INNER BANNER START-->
    <div id="inner-banner">
        <div class="container">
            <div class="inner-banner-heading">
            <h1>Axe</h1>
            <em>Le Programme “Bénin Révélé” repose sur 3 grands axes, eux-mêmes divisés en 7 axes stratégiques.</em> </div>
        </div>
        <div class="breadcrumb-col"> <a ui-sref="home" class="btn-back"><i class="fa fa-home" aria-hidden="true"></i>Retour à l'accueil</a>
            <ol class="breadcrumb">
            <li><a ui-sref="home">Accueil</a></li>
            <li class="active">Axe</li>
            </ol>
        </div>
    </div>
    <!--INNER BANNER END-->

    <!--BLOG PAGE START-->
    <section class="blog-page">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-sm-8">
                  <div class="causes-detail">
                    <div class="post-box">
                      <div class="text-box">
                        <h3 class="title-entity">{{axe.nom}}</h3>
                        <hr>
                        <blockquote>
                          <p><h4>{{axe.titre }}</h4></p>
                          <p>
                            <span ng-show="!getReadMoreState">{{axe.description | limitTo:165}}</span>
                            <span ng-show="!getReadMoreState && axe.description.length > 165">
                                 <button ng-click="readMore()" href="#" style="color:#fff" class="btn btn-link btn-xs"> [ ... Lire plus ] </button>
                            </span>
                            <span ng-show="getReadMoreState">
                                {{axe.description}}
                            </span>
                            <span ng-show="getReadMoreState">
                                <button ng-click="readMore()" href="#" style="color:#fff" class="btn btn-link btn-xs"> [ Réduire ... ] </button>
                            </span></p>
                        </blockquote>
                        <p>
                            <h4>Focus : {{axe.titreFocus}}</h4>
                            <p>{{axe.descriptionFocus}}</p>
                        </p>
                        <div class="share-box">
                            <!-- <strong class="title">Partager </strong>
                            <ul>
                            <li><a href="#" class="social-color-1"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="social-color-2"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="social-color-3"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="social-color-4"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>    
                            </ul> -->
                            <div class="like" ng-show="axe.id > 0">
                                | <span class="like_btn"><a title="J'aime" ng-click="like('AXE',axe.id,true)" href="#"><img ng-src="/assets/images/like.png" alt="J'aime"></a> {{nbLike.like}} </span><span class="like_btn"> <a title="Je n'aime pas" ng-click="like('AXE',axe.id,false)" href="#"><img ng-src="/assets/images/unlike.png" alt="J'aime pas"></a> {{nbLike.unlike}}</span>
                            </div>
                        </div>
                        <div class="col s6 ratings-icons" ng-show="axe.id > 0">
                                <strong class="title">Noter cet axe  </strong>
                                <ul style="margin-bottom:0">
                                    <li ng-repeat="n in noteList">
                                        <span ng-if="n.indice == 1">
                                            <a ng-click="doNote(n.noteType)" href="" title="{{n.indice}} étoile" class="secondary-content"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </span>
                                        <span ng-if="n.indice > 1">
                                            <a ng-click="doNote(n.noteType)" href="" title="{{n.indice}} étoiles" class="secondary-content"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </span>
                                    </li>
                                    <li><strong style="font-size:18px"><span ng-show="noteEntity.moyenne == 'NaN'">0</span>{{noteEntity.allNotesCount}}</strong> avis</li>
                                    <li><span ng-show="waiting"><i class="fa fa-circle-o-notch fa-spin"></i></span></li>
                                </ul>
                                <div>
                                    <ul>
                                        <li>
                                            <b><span ng-show="noteEntity.moyenne == 'NaN'">0</span>{{noteEntity.moyenne | number:2 }} sur 5 étoiles </b></li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="all-note-view">
                                <ul>
                                    <li ng-repeat="note in noteEntity.notes | orderBy: '-i'">
                                        <div class="star block-view">{{note.i}} star<span ng-show="note.i > 1">s</span></div>
                                        <div class="progress noteshow block-view">
                                            <div align="center" class="progress-bar progress-bar-success" role="progressbar" style="width: {{ ((note.value / noteEntity.allNotesCount) * 100) + '%' }}"></div>
                                        </div>
                                        <div class="total block-view"><span ng-show="note.value == 0">0</span>{{ ((note.value / noteEntity.allNotesCount) * 100) | number:2 }} % </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        <hr>
                        <div class="comments-section">
                                <h3>Commentaires</h3>
                                <p ng-hide="listComments.length > 0">Aucun commentaire </p>
                                <div class="media" ng-repeat="usercom in listComments | orderBy:'-id'">
                                    <div class="media-left">
                                        <div class=""><a href="#"><i class="fa fa-user fa-2x"></i> </a> </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="text-outer">
                                                <strong class="name"><span ng-show="usercom.pseudo == null">Anonyme</span></strong>
                                                <strong class="name"><span ng-show="usercom.pseudo !=null">{{usercom.pseudo}}</span></strong>
                                            <span class="date">Le {{usercom.dateCreation | date: 'dd MMM yyyy à HH:MM:ss'}}</span>
                                        <p ng-bind-html="usercom.contenu"></p>
                                        <div class="medias-comments">
                                            <ul>
                                                    <li ng-repeat="media in usercom.medias">
                                                        <span ng-if="media.type.indexOf('image') != - 1">
                                                            <div>
                                                                <img ng-src="{{media.lien}}" alt="Image" class="img-thumb-comment">
                                                            </div>
                                                        </span>
                                                        <span ng-if="media.type.indexOf('video')  != - 1 ">
                                                            <videogular vg-theme="videogularThemes" class="video">
                                                                <vg-media vg-src="media.vgsrc">
                                                                </vg-media>
                                                                <vg-controls>
                                                                    <vg-play-pause-button></vg-play-pause-button>
                                                                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                                                    <vg-scrub-bar>
                                                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                                                    </vg-scrub-bar>
                                                                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                                                    <vg-volume>
                                                                        <vg-mute-button></vg-mute-button>
                                                                        <vg-volume-bar></vg-volume-bar>
                                                                    </vg-volume>
                                                                    <vg-fullscreen-button></vg-fullscreen-button>
                                                                </vg-controls>
                                                                <vg-overlay-play></vg-overlay-play>
                                                            </videogular>
                                                        </span>
                                                        <span ng-if="media.type.indexOf('audio')  != - 1 ">
                                                            <div><videogular vg-theme="videogularThemes" class="audio">
                                                                <vg-media vg-src="media.vgsrc" vg-type="audio"></vg-media>
                                                                <vg-controls>
                                                                    <vg-play-pause-button></vg-play-pause-button>
                                                                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                                                                    <vg-scrub-bar>
                                                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                                                    </vg-scrub-bar>
                                                                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                                                                    <vg-volume>
                                                                        <vg-mute-button></vg-mute-button>
                                                                        <vg-volume-bar></vg-volume-bar>
                                                                    </vg-volume>
                                                                </vg-controls>
                                                            </videogular></div>
                                                        </span>
                                                    </li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-form">
                                <h3>Donner votre avis </h3>
                                <form ng-submit="postComment()" name="formComment">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                                    <input class="form-control" placeholder="Pseudo" aria-describedby="sizing-addon2" ng-model="comment.pseudo">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">OU</span>
                                                    <input class="form-control" placeholder="adresse email" aria-describedby="basic-addon2"  ng-model="comment.userMail">
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea ui-tinymce="addCommentTinymceOptions" ng-model="comment.contenu" ng-required="true" placeholder="Message"></textarea>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-paperclip"></i> Fichiers </span>
                                            <input class="form-control" type="file" ngf-select="" name="file" ng-model="comment.files" ngf-max-size="ngfMaxUpload" ngf-min-height="ngfMinUpload" ngf-accept="'image/*,audio/*,video/*'" ngf-multiple="true">
                                        </div>
                                        <span class="help">Taille maximale : {{ngfMaxUpload}}</span>
                                    </div>
                                    <div class="col-md-12" align="right" ng-show="axe.id > 0">
                                        <br>
                                        <input type="submit" value="VALIDER" ng-disabled="formComment.$invalid" />
                                    </div>
                                </div>
                                </form>
                                <toaster-container></toaster-container>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <aside>
                    <div class="sidebar">
                        <div class="widget-box">
                            <h3>Autres axes du PAG </h3>
                            <div class="archive-widget">
                                <ul>
                                    <li ng-repeat="oth in listAxes" ng-if="oth.id != axe.id"><a ui-sref="axe({id:oth.id})"><b>{{oth.nom}}</b> <i class="fa fa-long-arrow-right"></i>{{oth.description | limitTo:80}}<b ng-show="oth.description.length > 80">...</b></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </aside>
                </div>
              </div>
            </div>
          </section>
          <!--BLOG PAGE END-->


</div>
<!--MAIN END-->